// Variables
$ucf-gold: #ffc904;
$font-family-sans-serif: sans-serif !default;
$font-family-condensed: Helvetica, Arial, sans-serif;

$screen-md-min: 992px;
$screen-lg-min: 1200px;

// Common to all three layouts
.promo-horizontal,
.promo-vertical,
.promo-square {

  .promo-header,
  .promo-copy,
  .promo-link {
    font-family: $font-family-sans-serif;
  }

  .promo-btn {
    background-color: $ucf-gold;
    border-radius: 0;
    color: #000;
    display: inline-block;
    font-family: $font-family-sans-serif;
    font-size: 17px;
    font-weight: 700;
    padding: 12px 18px;
  }
}

// Horizontal promo layout
.promo-horizontal {
  padding: 30px;

  .promo-header {
    color: #fff;
    font-family: $font-family-condensed;
    font-size: 50px !important;
    font-weight: 400;
    letter-spacing: .2em;
    line-height: normal !important;
    margin-bottom: 25px;
    margin-top: 21px;
    text-transform: uppercase;

    @media (min-width: $screen-md-min) {
      font-size: 60px !important;
    }

    @media (min-width: $screen-lg-min) {
      font-size: 70px !important;
    }
  }

  .promo-copy {
    color: #fff;
    font-size: 14px;
    margin-bottom: 24px;

    @media (min-width: $screen-md-min) {
      font-size: 16px;
    }
  }

  .promo-link {
    border-bottom: 0 !important;
    color: $ucf-gold !important;
    display: block;
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 16px;
    text-decoration: underline;

    @media (min-width: $screen-md-min) {
      font-size: 23px;
    }
  }
}

// Square promo layout
.promo-square {
  background-position: center;
  background-repeat: no-repeat;
  min-height: 293px;
  padding: 40px;
  position: relative;

  .promo-header,
  .promo-copy,
  .promo-link {
    color: #fff;
    text-align: center;
  }

  .promo-header {
    font-size: 26px !important;
    margin-bottom: 15px;
    text-shadow: 2px 2px 3px #666;
  }

  .promo-copy {
    font-size: 16px;
  }

  .promo-btn {
    transition: background-color .4s, color .4s;
    width: 213px;
  }

  &:hover .promo-btn,
  .promo-btn:hover {
    background: #000;
    color: #fff;
    text-decoration: none;
    transition: background-color .4s, color .4s;
  }

  .promo-btn-wrapper {
    bottom: 30px;
    left: 50%;
    margin-left: -107px;
    position: absolute;
    text-align: center;
  }
}

// Vertical promo layout
.promo-vertical {

  .promo-image {
    max-width: 100%;
  }

  .promo-header,
  .promo-copy {
    color: #000;
  }

  .promo-header {
    font-size: 26px !important;
    margin: 40px 0 15px;
  }

  .promo-copy {
    font-size: 16px;

    .promo-link {
      border-bottom: 0 !important;
      color: #337ab7;

      &:hover {
        text-decoration: underline !important;
      }
    }
  }

  .promo-btn {
    border-bottom: 0 !important;
    transition: background-color .4s, color .4s;

    &:hover {
      background: #000;
      border-bottom: 0 !important;
      color: #fff;
      text-decoration: none;
      transition: background-color .4s, color .4s;
    }
  }
}
